html {
  font-size: 10px;
  background: url('https://bit.ly/35pTys7') bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calculator__keys{
  display: grid;
}